

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff; 
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffff;
}

/*MUDAR FONTE PARA INTER E ROBOTO */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fundo-principal);
  color: var(--texto);
  text-align: center;
}

header {
  background-color: var(--destaque);
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

/* qualquer mudança nos links mudar aqui primeiro, criando classes ou só mudando aqui mesmo */

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
  transition: color .3s, background-color .5s;
}

a:hover {
  background-color: var(--destaque-inverso);
}

main {

}

#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 10px;
}

img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#ficha > h1 {
  color: var(--destaque);
  margin: 20px 0px;font-size: large;
}